* {
  box-sizing: border-box;
}

body, ul, li, p, figure, figcaption, fieldset, legend, picture, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  position: relative;
  background-color: @color-main-background;
  width: 100%;
  height: 100%;
  font-family: @font-default;
}

.box {

  &__container {
    padding: 0 13px;
    width: 100%;
    max-width: @mobile;
    margin: 0 auto;

    .min-tablet({
      padding: 0 20px;
      max-width: @tablet;
    });

    .min-desktop({
      max-width: @desktop;
      padding: 0 5px;
    })
  }
}