doctype html
head
  link(rel="stylesheet" href="css/main.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html' charset='UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  link(rel="shortcut icon" type="image/png" href="/img/icon-logo.svg")

body
  include ./components/header.pug
  include ./sections/intro.pug
  include ./sections/program.pug
  include ./sections/course-type.pug
  include ./sections/dicsount.pug
  include ./sections/feedbacks.pug
  include ./sections/moneyback.pug
  include ./sections/rating.pug
  include ./sections/skillproof.pug
  include sections/teachers.pug
  include sections/approach.pug
  include sections/action.pug

  include ./components/footer.pug
  include ./components/icons.pug

  script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
  script(type="text/javascript" src="js/index.js")
