doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html' charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  link(rel="shortcut icon" type="image/png" href="/img/icon-logo.svg")
  link(rel="stylesheet" href="css/main.css")

body
  include ./components/special-offer.pug
  //- include ./components/header.pug
  include ./components/header_city-added.pug
  include ./sections/intro.pug
  include ./sections/program.pug
  include ./sections/course-type.pug
  include ./sections/dicsount.pug
  include ./sections/feedbacks.pug
  include ./sections/moneyback.pug
  include ./sections/rating.pug
  include ./sections/skillproof.pug
  include sections/teachers.pug
  include sections/approach.pug
  //include sections/action.pug
  include sections/action_discounted.pug

  include ./components/footer.pug
  include ./components/icons.pug
  include ./components/email-popup
  #scroll-arrow.scroll-arrow

  script(type="text/javascript" src="js/scripts-bundled.js")