doctype html
head
  link(rel="stylesheet" href="css/main.css")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
//-   link(rel="shortcut icon" type="image/png" href="/img/lp-logo.jpg")

body.body
  include ./components/header.pug

  include ./components/footer.pug

  script(type="module" src="js/index.js")
