.action {
  background-color: @color-purple;
  padding-top: 40px;
  padding-bottom: 24px;

  &__title {
    color: @color-white;

    .flex_column();
    margin-bottom: 21px;
  }

  h3 {
    color: @color-white;
    .font(20px);
    font-family: @font-montserrat-bold;

    .flex_column();
    margin-bottom: 16px;
  }

  ul {
    margin-bottom: 60px;
  }

  li {
    .font(16px, 20px);
    font-family: @font-montserrat-light;
    color: rgba(@color-white, 0.7);

    position: relative;
    margin-bottom: 15px;
    padding-left: 15px;

    &::before {
      content: '—';
      position: absolute;
      top: -2px;
      left: -7px;
      height: 1px;
      width: 5px;
      color: rgba(@color-white, 0.7);
    }

    span {
      font-family: @font-montserrat;
    }
  }

  &__price {
    .font(20px, 24px);
    font-family: @font-montserrat-bold;
    color: @color-white;

    margin-bottom: 20px;

    .yellow {
      color: @color-yellow;
      display: inline-block;
      position: relative;

      span {
        font-family: @font-montserrat-light;
        .font(12px);
        position: absolute;
        bottom: 3px;
        right: -10px;
      }
    }
  }

  &__privacy {
    .font(12px, 16px);
    color: @color-white;
    text-align: center;

    a {
      text-decoration: underline;
      color: @color-yellow;
    }
  }
}

.action-form {
  margin-bottom: 20px;

  &__field {
    position: relative;
    margin-bottom: 22px;
    padding: 14px 20px;
    background-color: @color-white;
    border-radius: 4px;
    border: none;

    input {
      color: rgba(@color-black, 0.7);
      .font(16px, 20px);
      font-family: @font-montserrat-light;
      border-radius: 4px;
      border: none;
      outline: none;
      box-shadow: none;
      width: 100%;

      &::placeholder {
        color: rgba(@color-black, 0.3);
      }
    }

    &._number {
      .flex();
    }
  }

  &__button {
    background-color: @color-yellow;
  }
}

.region-select {
  .flex(flex-start, center, row nowrap);

  &__current-country {
    position: relative;
    margin-right: 5px;

    &::after {
      content: '';
      top: calc(50% + 2px);
      right: -3px;
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid @color-white;
      border-top-color: rgba(@color-black, 0.3);
      transform: translateY(-50%);
      transition: 300ms border;
    }

    svg {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }

  &__current-code {
    color: rgba(@color-black, 0.7);
    .font(16px, 20px);
    margin-right: 8px;
  }

  &__country-inputs {
    display: none;
  }

  &__options {
    position: absolute;
    top: 40px;
    left: 0;
    width: 50px;
    visibility: hidden;
    opacity: 0;
    padding: 10px 5px 5px;
    background-color: @color-white;
    box-shadow: 0 0 3px 0 rgba(@color-black, 0.3);
    border-radius: 4px;
  }

  &__option {
    padding: 8px 0 2px;

    svg {
      max-width: 40px;
      max-height: 40px;
    }
  }
}

.region-select._opened {


  .region-select__options {
    visibility: visible;
    opacity: 1;
  }
}