.approach {
  background-color: @color-yellow;
  padding-top: 40px;
  padding-bottom: 24px;

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__facts {
    .flex(space-between, center, column nowrap);
  }

  &__fact {
    .font(32px, 39px);
    margin-left: auto;
    width: 100%;
    max-width: 230px;
    margin-bottom: 20px;

    .number {
      color: @color-white;
      font-family: @font-montserrat-bold;
      .flex_column();
    }

    &._purple {
      margin-right: auto;
      margin-left: 0;
      max-width: 225px;

      .number {
        color: @color-purple;
      }
    }

    &._red {
      max-width: 160px;

      .number {
        color: @color-red;
      }
    }

    &._magenta {
      margin-right: auto;
      margin-left: 0;
      max-width: 210px;

      .number {
        color: @color-magenta;
      }
    }

    p {
      .font(16px, 20px);
    }
  }

  &__video {
    iframe {
      width: 100%;
      height: 300px;
    }
  }
}

.gallery {
  .flex(space-between, center);
  padding-top: 32px;
  padding-bottom: 16px;

  &__item {
    width: 100%;
    max-width: 142px;
    height: 127px;
    margin-bottom: 10px;
    overflow: hidden;

    img {
      width: 100%;
    }

    &._big {
      flex-grow: 1;
      width: 100%;
      max-width: none;
      height: auto;
    }
  }
}