.intro {

  &__container {
    background-image: url("../img/mob/intro-bg@2x.png");
    background-position: 115% 76%;
    background-repeat: no-repeat;
    background-size: 240px;
    padding-top: 24px;
    padding-bottom: 16px;

    .min-tablet({
      background-position: right bottom;
      padding-top: 40px;
      padding-bottom: 60px;
    });

    .min-desktop({
      background-image: url("../img/desktop/introbg@2x.png");
      background-position: right bottom;
      background-size: 50%;
      padding-top: 50px;
      padding-bottom: 80px;
    });
  }

  &__main {
    width: 70%;
    .flex(space-between, center);

    //.min-tablet({
    //  align-items: flex-end;
    //});

    .min-desktop({
      width: 58%;
    });
  }

  &__sup-title {
    .font(12px);
    color: @color-purple;
    text-transform: uppercase;
    font-family: @font-montserrat-bold;

    margin-bottom: 4px;

    .min-desktop({
      margin-bottom: 44px;
    });
  }

  &__title {
    .flex(flex-start, flex-start, column nowrap);
    margin-bottom: 13px;

    .min-desktop({
      margin-bottom: 50px;
    });
  }

  &__sub-title {
    .font(16px, 1.5);
    color: @color-black;

    .flex(flex-start, flex-start, column nowrap);
    margin-bottom: 38px;

    .min-desktop({
      .font(28px, 32px);
      margin-bottom: 136px;
      .flex_column();
    });
  }

  &__apply-btn {
    color: @color-white;
    background-color: @color-red;

    .min-tablet({
      padding: 15px 30px;
      display: inline-block;
    });

    .min-desktop({
      padding: 20px 40px;
    });
  }
}

.intro-prices {
  .flex(space-betwenn, flex-start, column nowrap);
  margin-bottom: 31px;

  &__prev {
    color: rgba(@color-red, 0.4);
    font-family: @font-montserrat-bold;

    position: relative;
    display: inline-block;
    order: 3;

    .font(24px, 21px);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 80%;
      height: 1px;
      background-color: @color-red;
      transform: rotate(-166.22deg) translateY(-50%);
    }

    span {
      transform: scale(0.66);
      position: absolute;
      right: -10px;
      bottom: 0;

      .min-desktop({
        right: -15px;
        bottom: 5px;
      });
    }
  }

  &__current {
    .font(48px, 59px);
    font-family: @font-montserrat-bold;
    font-weight: bold;
    color: @color-red;

    position: relative;
    display: inline-block;

    .min-desktop({
      .font(72px, 88px);
      order: 1;
    });

    span {
      transform: scale(0.44);
      position: absolute;
      right: -25px;
      top: -10px;

      .min-desktop({
        .font(18px, 21px);
        font-family: @font-montserrat;
        transform: none;
        top: 15px;
        right: -20px;
      });
    }
  }

  &__discount {
    .flex_column();

    .min-desktop({
      flex-direction: row;
      order: 2;
      margin-bottom: 10px;
      .font(16px, 1);
    });
  }
}