.teachers {
  padding-top: 40px;
  padding-bottom: 56px;
  background-color: #F0F4FD;

  .min-desktop({
    padding-top: 80px;
    padding-bottom: 80px;
  });

  &__title {
    .flex_column();
    position: relative;
    margin-bottom: 40px;

    &::after {
      position: absolute;
      bottom: 0;
      right: 10%;
      width: 19px;
      height: 19px;
      background: url("../img/icons/icon-cursor-pointer.svg") no-repeat;
      content: '';

      .min-mob-s({
        right: 20%;
      });

      .min-tablet({
        display: none;
      });
    }
  }

  .swiper-teacher-button-next,
  .swiper-teacher-button-prev {
    &::before {
      border-color: @color-purple;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: @color-purple;
  }
}

.teacher {
  position: relative;

  &__person {
    padding-bottom: 140px;
    position: relative;

    .min-desktop({
      position: absolute;
      right: 50px;
      bottom: 0;
      padding-bottom: 0;
    });

    img {
      max-width: 142px;
      width: 100%;
      height: 157px;
      margin-left: auto;
      margin-right: 40px;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 3;
      object-fit: cover;

      .min-desktop({
        max-width: 369px;
        height: 411px;
        position: static;
        margin-right: 0;
        display: block;
      });
    }
  }

  &__message-box {
    padding: 18px 26px 12px 30px;
    position: relative;

    .min-desktop({
      max-width: 500px;
      width: 100%;
      box-shadow: none;
      border: 3px solid #F0F4FD;
      padding: 30px 52px 23px 59px;
    });

    &::after {
      content: '';
      position: absolute;
      bottom: -15px;
      right: 60px;
      width: 20px;
      height: 20px;
      background-image: url('../img/desktop/hook_purple.svg');
      background-size: contain;
      background-repeat: no-repeat;

      .min-desktop({
        right: 100px;
      });
    }
  }

  &__container {
    .min-desktop({
      padding-right: 500px;
      padding-top: 50px;
      padding-bottom: 50px;
    });
  }

  &__fio {
    margin-bottom: 5px;
  }

  &__label {
    .flex_column();
    margin-bottom: 21px;

    span {
      .font(16px, 20px);
      font-family: @font-montserrat-light;
    }

    .min-desktop({
      flex-direction: row;
    });
  }

  h3 {
    margin-bottom: 5px;

    .min-desktop({
      margin-bottom: 20px;
    });
  }

  &__text {
    margin-bottom: 10px;

    .min-desktop({
      margin-bottom: 40px;
    });
  }

  &__footer {
    .flex(space-between, center);

    .min-desktop({
      justify-content: flex-start;
    });

    img {
      width: 100%;
      max-width: 60px;

      .min-desktop({
        margin-right: 40px;
      });
    }
  }
}