section.action.box#action
    .action__container.box__container
        h2.action__title.title-common
            span Запись
            span на профессию
        .action__text
            h3
                span Оставьте заявку
                span и получите
            ul
                li <span>Скидку до 50%</span>
                li Начало учебы <span>сейчас</span>
                li Диплом <span>государственного образца</span>
                li Налоговый вычет <span>13%</span>

        .action__price
            | к оплате&nbsp;
            .yellow 20160 <span>₽</span>
        form.action-form
            .action-form__fields
                .action-form__field._name
                    input(type="text" placeholder="Ваше имя" name="client-name" id="client-name")
                .action-form__field._number
                    .region-select#region-select
                        .region-select__current-country
                            svg
                                use(id="#region-select-pic" href="#icon-flag-russia" xlink:href="#icon-flag-russia")
                        .region-select__current-code#region-select-code +7
                        .region-select__options
                            label.region-select__option(for="phone-region-ru" data-code="+7" data-icon-id="#icon-flag-russia")
                                svg
                                    use(href="#icon-flag-russia" xlink:href="#icon-flag-russia")
                            label.region-select__option(for="phone-region-ua" data-code="+375" data-icon-id="#icon-flag-ukraine")
                                svg
                                    use(href="#icon-flag-ukraine" xlink:href="#icon-flag-ukraine")
                            label.region-select__option(for="phone-region-blr" data-code="+380" data-icon-id="#icon-flag-belarus")
                                svg
                                    use(href="#icon-flag-belarus" xlink:href="#icon-flag-belarus")
                        .region-select__country-inputs
                            input(type="radio" id="phone-region-ru" name="phone-region-choose" value="RU" hidden)
                            input(type="radio" id="phone-region-ua" name="phone-region-choose" value="UA" hidden)
                            input(type="radio" id="phone-region-blr" name="phone-region-choose" value="BLR" hidden)

                    input(type="number" name="client-phone" id="client-phone" placeholder="999 999-99-99")

            .action-form__button.btn-apply оставить заявку

            .action-form__privacy Нажимая кнопку вы даёте свое согласие на обработку ваших персональных данных на условиях и для целей, определенных <a href="#">Политикой конфиденциальности</a>
