section.approach.box
    .approach__container.box__container
        .approach__facts
            .approach__fact._purple
                .number
                    span 11
                    span на рынке
                p
                    span вы обучаетесь по
                    span проверенным методикам

            .approach__fact._red
                .number
                    span 234
                    span курса
                p
                    span расширьте свои знания
                    span вместе с нами

            .approach__fact._magenta
                .number
                    span 58 школ
                    span в 5 странах
                p
                    span вы можете посмотреть как мы работаем
                    span как мы работаем

            .approach__fact
                .number
                    span 100 089
                    span учеников
                p
                    span вы уверены, что наши курсы эффективны
                    span курсы эффективны

        .approach__video

    .approach__container.box__container
        .galery
            .gallery__item._big
            .gallery__item
            .gallery__item
            .gallery__item
            .gallery__item