section.approach.box
    .approach__container.box__container
        h2.approach__title.title-common Подход
        .approach__facts
            .approach-fact._purple
                .approach-fact__number
                    span.num 11 лет
                    span на рынке
                .approach-fact__description
                    span вы обучаетесь по
                    span проверенным методикам

            .approach-fact._red
                .approach-fact__number
                    span.num 234
                    span курса
                .approach-fact__description
                    span расширьте свои знания
                    span вместе с нами

            .approach-fact._magenta
                .approach-fact__number
                    span.num 58 школ
                    span в 5 странах
                .approach-fact__description
                    span вы можете посмотреть
                    span как мы работаем

            .approach-fact._white
                .approach-fact__number
                    span.num 100 089
                    span учеников
                .approach-fact__description
                    span вы уверены, что наши
                    span курсы эффективны

        .approach__video

    .approach__container.box__container
        .gallery
            .gallery__item._big
                picture
                    source(srcset="img/desktop/gallery/big.jpg" media="(min-width: 1280px)")
                    img(src="img/mob/gallery/big.jpg" alt="pic")

            .gallery__item
                picture
                    source(srcset="img/desktop/gallery/1.jpg" media="(min-width: 1280px)")
                    img(src="img/mob/gallery/1.jpg" alt="pic")
            .gallery__item
                picture
                    source(srcset="img/desktop/gallery/2.jpg" media="(min-width: 1280px)")
                    img(src="img/mob/gallery/2.jpg" alt="pic")
            .gallery__item
                picture
                    source(srcset="img/desktop/gallery/3.jpg" media="(min-width: 1280px)")
                    img(src="img/mob/gallery/3.jpg" alt="pic")
            .gallery__item
                picture
                    source(srcset="img/desktop/gallery/4.jpg" media="(min-width: 1280px)")
                    img(src="img/mob/gallery/4.jpg" alt="pic")