section.approach.box
    .approach__container.box__container
        h2.approach__title.title-common Подход
        .approach__facts
            .approach__fact._purple
                .number
                    span 11 лет
                    span на рынке
                p
                    span вы обучаетесь по
                    span проверенным методикам

            .approach__fact._red
                .number
                    span 234
                    span курса
                p
                    span расширьте свои знания
                    span вместе с нами

            .approach__fact._magenta
                .number
                    span 58 школ
                    span в 5 странах
                p
                    span вы можете посмотреть как мы работаем
                    span как мы работаем

            .approach__fact
                .number
                    span 100 089
                    span учеников
                p
                    span вы уверены, что наши
                    span курсы эффективны

        .approach__video
            iframe(src='https://www.youtube.com/embed/gbvY-cjKHKw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


    .approach__container.box__container
        .gallery
            .gallery__item._big
                img(src="img/mob/gallery/big.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/1.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/2.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/3.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/4.jpg" alt="pic")