section.approach.box
    .approach__container.box__container
        h2.approach__title.title-common Подход
        .approach__facts
            .approach-fact._purple
                .approach-fact__number
                    span 11 лет
                    span на рынке
                .approach-fact__description
                    span вы обучаетесь по
                    span проверенным методикам

            .approach-fact._red
                .approach-fact__number
                    span 234
                    span курса
                .approach-fact__description
                    span расширьте свои знания
                    span вместе с нами

            .approach-fact._magenta
                .approach-fact__number
                    span 58 школ
                    span в 5 странах
                .approach-fact__description
                    span вы можете посмотреть
                    span как мы работаем

            .approach-fact._white
                .approach-fact__number
                    span 100 089
                    span учеников
                .approach-fact__description
                    span вы уверены, что наши
                    span курсы эффективны

        .approach-fact__video
            iframe(src='https://www.youtube.com/embed/gbvY-cjKHKw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


    .approach-fact__container.box__container
        .gallery
            .gallery__item._big
                img(src="img/mob/gallery/big.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/1.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/2.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/3.jpg" alt="pic")
            .gallery__item
                img(src="img/mob/gallery/4.jpg" alt="pic")