section.course-type.box
    .course-type__container.box__container
        h2.course-type__title.title-common
            span Формат
            span курсов
        form.course-switch
            .course-switch__online.title-common Онлайн
            label(for="isCourseFormOffline").course-switcher#course-switcher
                .course-switcher__float
            input(type="checkbox" id="isCourseFormOffline" name="isCourseFormOffline" hidden)
            .course-switch__offline.title-common Офлайн
        .course-type__benefits#course-type__benefits
            .course-type__benefits-online
                ul._online
                    li.title Онлайн
                    li
                        span Обучение,
                        span Не выходя из дома
                    li
                        span Чат с преподавателем
                    li
                        span Живая трансляция
            .course-type__benefits-offline
                ul._offline
                    li.title Оффлайн
                    li
                        span Комфортное пространство
                        span для обучения
                    li
                        span Живое общение
                    li
                        span Повышенная
                        span мотивация учиться