section.discount.box
    .discount__container.box__container
        h2.title-common.discount__title Специальная акция
        p.discount__subtitle Успейте забрать курс со скидкой 50%
        .discount__prices
           p.old 11 200
           p.current 5 600 <span>₽</span>
        a(href="action" data-link-to="action").nav-link.btn-apply.discount__btn Записаться на курс