section.feedbacks.box#feedbacks
    .feedbacks__container.box__container
        h2.feedbacks__title.title-common
            span Cтуденты&nbsp;
            span о нас
        .swiper-feedbacks-container.swiper-container.common-slider-container
            .swiper-feedback-button-next
            .swiper-feedback-button-prev
            .swiper-wrapper.feedbacks__slider.common-slider
                .feedback.swiper-slide.f-plato-container
                    .feedback__container
                        .feedback__section.fb-author._author
                            .fb-author__message-box.f-plato-message-box
                                p SMM — это возможность помогать людям в их бизнесе. Возможность заниматься любимым делом и постоянно совершенствоваться. Возможность кайфовать от результатов.
                            .fb-author__ava
                            .fb-author__info.f-plato-author-title
                                p Константин
                                p Константинопольский
                                .link
                                    img(src="./img/icons/icon-fb.png" loading="lazy" alt="fb-icon")
                                    a(href="#") посмотреть отзыв

                        h2.feedback__section._quote.feedback__quote.title-common Я поменял профессию

                        .feedback__section._task
                            h3.f-plato-section-title Задача
                            p.feedback__text.f-plato-section-text Я открыл свой небольшой пивной бар и спустя некоторое время, я понял, что у большинства баров в Питере есть собственный инстаграм, который очень помогает привлекать клиентов. Я пошел на курс.
                        .feedback__section._result
                            h3.f-plato-section-title Результат
                            p.feedback__text.f-plato-section-text На курсе мне рассказали и показали основные приемы и хитрости, связанные с ведением соц сетей. Мне подсказали классную идею для ведения аккаунта моего бара, которой я сразу воспользовался. Спустя три месяца у моего бара очень интересный и нишевый инстаграм, который.

                .feedback.swiper-slide.f-plato-container
                    .feedback__container
                        .feedback__section.fb-author._author
                            .fb-author__message-box.f-plato-message-box
                                p SMM — это возможность помогать людям в их бизнесе. Возможность заниматься любимым делом и постоянно совершенствоваться. Возможность кайфовать от результатов.
                            .fb-author__ava
                            .fb-author__info.f-plato-author-title
                                p Константин
                                p Константинопольский
                                .link
                                    img(loading="lazy" src="./img/icons/icon-fb.png" alt="fb-icon")
                                    a(href="#") посмотреть отзыв

                        h2.feedback__section._quote.feedback__quote.title-common Я поменял профессию

                        .feedback__section._task
                            h3.f-plato-section-title Задача
                            p.feedback__text.f-plato-section-text Я открыл свой небольшой пивной бар и спустя некоторое время, я понял, что у большинства баров в Питере есть собственный инстаграм, который очень помогает привлекать клиентов. Я пошел на курс.
                        .feedback__section._result
                            h3.f-plato-section-title Результат
                            p.feedback__text.f-plato-section-text На курсе мне рассказали и показали основные приемы и хитрости, связанные с ведением соц сетей. Мне подсказали классную идею для ведения аккаунта моего бара, которой я сразу воспользовался. Спустя три месяца у моего бара очень интересный и нишевый инстаграм, который.

            .swiper-feedback-pagination.f-plato-pagination

        //.feedbacks__more-btn
        //    svg
        //        use(href="#icon-luggage" xlink:href="#icon-luggage")
        //    span Работы студентов