section.intro.box
  .intro__container.box__container#intro-container(style="background-image: url('/img/mob/intro-bg@2x.png');" data-background-desktop="/img/desktop/introbg@2x.png")
    .intro__main
      .intro__titles
        .intro__sup-title доступно онлайн и офлайн
        h1.intro__title.title-common
          span Профессия
          span интернет - маркетолог
        .intro__sub-title._desktop-hidden
          span С нуля до профи
          span в Санкт-Петербурге
      .intro__sub-title._mobile-hidden-d-flex
        span Научитесь создавать
        span контент и продвигать
        span свой бренд онлайн
      .intro-prices
        .intro-prices__prev 30240 <span>₽</span>
        .intro-prices__current 20160 <span>₽</span>
        .intro-prices__discount
          span скидка&nbsp;
          span до 31 июля
    a(href="action" data-link-to="action").intro__apply-btn.nav-link.btn-apply оставить заявку