section.intro.box
  .intro__container.box__container
    .intro__main
      .intro__titles
        .intro__sup-title доступно онлайн и офлайн
        h1.intro__title.title-common
          span Профессия
          span интернет - маркетолог
        .intro__sub-title
          span С нуля до профи
          span в Санкт-Петербурге
      .intro-prices
        .intro-prices__prev 30240 <span>₽</span>
        .intro-prices__current 20160 <span>₽</span>
        .intro-prices__discount
          span скидка
          span до 31 июля
    .intro__apply-btn.btn-apply оставить заявку