section.moneyback.box
    .moneyback__container.box__container
        h2.moneyback__title.title-common Затраты на курс окупятся мигом
        p.moneyback__description Пройдя наш курс ты сможешь  зарабатывать фрилансом, более того можно начать <b>работать прямо во время обучения,</b> окупить затраты и увеличивать свой доход
        .moneyback-stats
            h4 средние расценки в нише
            .moneyback-stats__item
                p
                    span написание
                    span 1 поста
                .price 250 <span>₽</span>
            .moneyback-stats__item
                p
                    span 25 постов в месяц
                    span в одной группе
                .price 250 <span>₽</span>
            .moneyback-stats__item
                p
                    span ведение 8 групп
                    span в течение одного месяца
                .price 50 000 <span>₽</span>