section.program.box
  .program__container.box__container
    h2.program__title.title-common Программа обучения
    .program__sections
      .program__section._benefits
        .program__local-title Вы научитесь
        .program__benefits
          .program__benefit._yellow
            svg
              use(href="#icon-verified")
            p Привлекать клиентов, создавая продающие сайты и выводя их на первые места в Яндекс и Google
          .program__benefit._orange
            svg
              use(href="#icon-verified")
            p Оптимизировать маркетинговую стратегию с помощью инструментов веб-аналитики
          .program__benefit._red
            svg
              use(href="#icon-verified")
            p Находить потенциальных клиентов в социальных сетях и создавать SMM-стратегию
      .program__section._numbers.program__in-numbers
        .program-in-number
          .program-in-number__number 5
          p курсов в професии
        .program-in-number
          .program-in-number__number 15
          p недель обучения
        .program-in-number
          .program-in-number__number 93
          p академичиских часа
      .program__section._program-blocks
        .program__local-title Блоки курса
        .program-blocks
          .program-block._yellow
            .program-block__header
              .program-block__number 1
              h2.program-block__title.title-common Cоздание и продвижение сайтов
            .program-block__main
              img(alt="" src="img/icons/icon-mob-desktop.svg").program-block__icon
              .program-block__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")

          .program-block._orange
            .program-block__header
              .program-block__number 2
              h2.program-block__title.title-common Контекстная реклама
            .program-block__main
              img(alt="" src="img/icons/icon-target.svg").program-block__icon
              .program-block__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")

          .program-block._red._opened
            .program-block__header
              .program-block__number 3
              h2.program-block__title.title-common Контекстная реклама
            .program-block__main
              img(alt="" src="img/icons/icon-target.svg").program-block__icon
              .program-block__lessons-quantity
                span 6
                p практических занятий
              .program-block__section
                .program-block__section-title Изучите
                ul
                  li
                    span 1.
                    p Продвижение через контекстную рекламу
                  li
                    span 2.
                    p Создание рекламных кампаний
                  li
                    span 3.
                    p Реклама в РСЯ
                  li
                    span 4.
                    p Реклама в КМС Google
                  li
                    span 5.
                    p Аналитика рекламных кампаний
              .program-block__section
                .program-block__section-title Освоите
                .program-block__techs-to-learn
                  .program-block__tech-to-learn
                    svg
                      use(href="#icon-wordstat" xlink:href="#icon-wordstat")
                    p
                      | Wordstat .Yandex
                  .program-block__tech-to-learn
                    svg
                      use(href="#icon-keywords" xlink:href="#icon-keywords")
                    p KeyWord Planner
                  .program-block__tech-to-learn
                    svg
                      use(href="#icon-ya-auditory" xlink:href="#icon-ya-auditory")
                    p Яндекс. Аудитории
                  .program-block__tech-to-learn
                    svg
                      use(href="#icon-google-ads" xlink:href="#icon-google-ads")
                    p Google  Ads

              .program-block__footer Блок «Контекстная реклама» также содержит и массу других <a href="#">интересных вещей</a>, но не уходите с лендоса!
              .program-block__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")

          .program-block._purple
            .program-block__header
              .program-block__number 4
              h2.program-block__title.title-common Веб-аналитика
            .program-block__main
              img(alt="" src="img/icons/icon-analytics.svg").program-block__icon
              .program-block__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")