section.program.box
  .program__container.box__container
    h2.program__title.title-common Программа обучения
    .program__sections
      .program__section._benefits
        .program__local-title Вы научитесь
        .program__benefits
          .program__benefit._yellow
            svg
              use(href="#icon-verified")
            p Привлекать клиентов, создавая продающие сайты и выводя их на первые места в Яндекс и Google
          .program__benefit._orange
            svg
              use(href="#icon-verified")
            p Оптимизировать маркетинговую стратегию с помощью инструментов веб-аналитики
          .program__benefit._red
            svg
              use(href="#icon-verified")
            p Находить потенциальных клиентов в социальных сетях и создавать SMM-стратегию

      .program__section._numbers.program__in-numbers
        .program-in-number
          .program-in-number__number 5
          p
            span курсов
            span в професии
        .program-in-number
          .program-in-number__number 15
          p
            span недель
            span обучения
        .program-in-number
          .program-in-number__number 93
          p
            span академичиских
            span часа

      .program__section._program-stages
        .program__local-title Блоки курса
        .program-stages
          .program-stage._yellow
            .program-stage__header
              .program-stage__number 1
              h2.program-stage__title.title-common
                span Cоздание и&nbsp;
                span продвижение сайтов
              img(alt="" src="img/icons/icon-mob-desktop.svg").program-stage__icon
              .program-stage__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")
            .program-stage__main

          .program-stage._orange
            .program-stage__header
              .program-stage__number 2
              h2.program-stage__title.title-common
                span Контекстная&nbsp;
                span реклама
              img(alt="" src="img/icons/icon-target.svg").program-stage__icon
              .program-stage__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")
            .program-stage__main

          .program-stage._red._opened
            .program-stage__header
              .program-stage__number 3
              h2.program-stage__title.title-common
                span Контекстная&nbsp;
                span реклама
              img(alt="" src="img/icons/icon-target.svg").program-stage__icon
              .program-stage__lessons-quantity
                span 6
                p практических занятий
            .program-stage__main
              .program-stage__section._you-ll-learn
                h3.program-stage__section-title Изучите
                ul
                  li
                    span 1.
                    p Продвижение через контекстную рекламу
                  li
                    span 2.
                    p Создание рекламных кампаний
                  li
                    span 3.
                    p Реклама в РСЯ
                  li
                    span 4.
                    p Реклама в КМС Google
                  li
                    span 5.
                    p Аналитика рекламных кампаний
              .program-stage__section._techs
                h3.program-stage__section-title Освоите
                .program-stage__techs
                  .program-stage__tech
                    svg
                      use(href="#icon-wordstat" xlink:href="#icon-wordstat")
                    p
                      span Wordstat
                      span  .Yandex
                  .program-stage__tech
                    svg
                      use(href="#icon-keywords" xlink:href="#icon-keywords")
                    p
                      span KeyWord
                      span Planner
                  .program-stage__tech
                    svg
                      use(href="#icon-ya-auditory" xlink:href="#icon-ya-auditory")
                    p
                      span Яндекс.
                      span  Аудитории
                  .program-stage__tech
                    svg
                      use(href="#icon-google-ads" xlink:href="#icon-google-ads")
                    p
                      span Google
                      span  Ads

              .program-stage__section._also.program-stage__also Блок «Контекстная реклама» также содержит и массу других <a href="#">интересных вещей</a>, но не уходите с лендоса!
              .program-stage__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")

          .program-stage._purple._web-analytic
            .program-stage__header
              .program-stage__number 4
              h2.program-stage__title.title-common
                span Веб-
                span аналитика
              img(alt="" src="img/icons/icon-analytics.svg").program-stage__icon
              .program-stage__learn-more
                p содержание  и инструменты
                svg.arrow-btn
                  use(href="#icon-arrow-more")
            .program-stage__main