section.rating.box
    .rating__container.box__container
        .rating__header
            h2.title-common.rating__title
            .rating__star-bar
                svg
                    use(href="#icon-star" xlink:href="#icon-start")
                svg
                    use(href="#icon-star" xlink:href="#icon-start")
                svg
                    use(href="#icon-star" xlink:href="#icon-start")
                svg
                    use(href="#icon-star" xlink:href="#icon-start")
                svg
                    use(href="#icon-star-little-orange" xlink:href="#icon-start-little-orange")
        .rating__bars-bar