section.rating.box
    .rating__container.box__container
        .rating__header
            h2.title-common.rating__title
                span Красноречивый
                span рейтинг
            .rating__star-bar
                svg
                    use(href="#icon-star" xlink:href="#icon-star")
                svg
                    use(href="#icon-star" xlink:href="#icon-star")
                svg
                    use(href="#icon-star" xlink:href="#icon-star")
                svg
                    use(href="#icon-star" xlink:href="#icon-star")
                svg.orange-part
                    use(href="#icon-star-orange-part" xlink:href="#icon-star-orange-part")
        .rating__bars-bar
            .rating-bar._yandex
                .rating-bar__number 4,7
                img(loading="lazy" src="img/icons/icon-yandex-logo.svg" alt="rating-logo").rating-bar__title
            .rating-bar._google
                .rating-bar__number 4,5
                img(loading="lazy" src="img/icons/icon-google-logo.png" alt="rating-logo").rating-bar__title
            .rating-bar._zoon
                .rating-bar__number 4,5
                img(loading="lazy" src="img/icons/icon-zoon-logo.svg" alt="rating-logo").rating-bar__title
            .rating-bar._yell
                .rating-bar__number 4,4
                img(loading="lazy" src="img/icons/icon-yell-logo.svg" alt="rating-logo").rating-bar__title
        p.rating__ahtung По техническим причинам рейтинг на сайте обновляется раз в квартал. Последнее обновление было 28 мая 2020
