section.skillproof.box
    .box__container.skillproof__container
        h2.title-common.skillproff__title
            span Подтверждение
            span ваших знаний
        .skillproof__section
            img(src="img/mob/celebration@2x.png" alt="")
        .skillproof__section
            p После окончания курса вы получаете Персональный сертификат и Диплом государственного образца
            .skillproof__more-btn Подробне о документах