section.skillproof.box#skillproof
    .box__container.skillproof__container
        h2.title-common.skillproof__title
            span Подтверждение
            span ваших знаний
        .skillproof__section._pic
            picture
                source(srcset="img/desktop/skillproof@2x.webp" type="image/webp" media="(min-width: 1280px)")
                source(srcset="img/desktop/skillproof@2x.png" media="(min-width: 1280px)")
                source(srcset="img/mob/skillproof@2x.webp" type="image/webp")
                img(loading="lazy" src="img/mob/skillproof@2x.png" alt="")
        .skillproof__section._info
            p После окончания курса вы получаете Персональный сертификат и Диплом государственного образца
            #skillproof-show-docs-btn.skillproof__more-btn Подробнее о документах
        .proof-docs#proof-docs
            .proof-docs__close-btn#skillproof-hide-docs-btn
                span
                span
            .proof-docs__container
                .proof-docs__section
                    h4 Персональный сертификат
                    p По итогам обучения на <span> курсе / полном курсе </span> вы получаете персональный сертификат. Слушатели онлайн-курсов могут получить документы в учебном центре, либо по почте.
                    picture
                        source(srcset="img/mob/diplom2-min.webp" type="image/webp")
                        img(src="img/mob/diplom2-min.jpg" loading="lazy" alt="doc")
                .proof-docs__section
                    h4 Удостоверение о повышении квалификации
                    p Удостоверение о повышении квалификации выдается при прохождении <span>программы повышения квалификации</span> (не менее 16 ак.ч.) Сдаётся выпускной экзамен.
                    picture
                        source(srcset="img/mob/diplom-min.webp" type="image/webp")
                        img(src="img/mob/diplom-min.jpg" loading="lazy" alt="doc")