section.teachers.box
    .teachers__container.box__container
        h2.teachers__title.title-common
            span Наши
            span Преподаватели
        .swiper-container
            .swiper-wrapper.teachers__slider
                .teacher.swiper-slide
                    .teacher__container
                        .teacher__section.fb-author._author
                            .fb-author__message-box
                                p SMM — это возможность помогать людям в их бизнесе. Возможность заниматься любимым делом и постоянно совершенствоваться. Возможность кайфовать от результатов.
                            .fb-author__ava
                            .fb-author__info
                                p Константин
                                p Константинопольский
                                .link
                                    img(src="./img/icons/icon-fb.png" alt="fb-icon")
                                    a(href="#") посмотреть отзыв

                        h2.teacher__section.teacher__quote.title-common Я поменял профессию

                        .teacher__section
                            h3 Задача
                            p.teacher__text Я открыл свой небольшой пивной бар и спустя некоторое время, я понял, что у большинства баров в Питере есть собственный инстаграм, который очень помогает привлекать клиентов. Я пошел на курс.
                        .teacher__section
                            h3 Результат
                            p.teacher__text На курсе мне рассказали и показали основные приемы и хитрости, связанные с ведением соц сетей. Мне подсказали классную идею для ведения аккаунта моего бара, которой я сразу воспользовался. Спустя три месяца у моего бара очень интересный и нишевый инстаграм, который.

                .teacher.swiper-slide
                    .teacher__container
                        .teacher__section.fb-author._author
                            .fb-author__message-box
                                p SMM — это возможность помогать людям в их бизнесе. Возможность заниматься любимым делом и постоянно совершенствоваться. Возможность кайфовать от результатов.
                            .fb-author__ava
                            .fb-author__info
                                p Константин
                                p Константинопольский
                                .link
                                    img(src="./img/icons/icon-fb.png" alt="fb-icon")
                                    a(href="#") посмотреть отзыв

                        h2.teacher__section.teacher__quote.title-common Я поменял профессию

                        .teacher__section
                            h3 Задача
                            p.teacher__text Я открыл свой небольшой пивной бар и спустя некоторое время, я понял, что у большинства баров в Питере есть собственный инстаграм, который очень помогает привлекать клиентов. Я пошел на курс.
                        .teacher__section
                            h3 Результат
                            p.teacher__text На курсе мне рассказали и показали основные приемы и хитрости, связанные с ведением соц сетей. Мне подсказали классную идею для ведения аккаунта моего бара, которой я сразу воспользовался. Спустя три месяца у моего бара очень интересный и нишевый инстаграм, который.

        .teachers__more-btn
            svg
                use(href="#icon-luggage" xlink:href="#icon-luggage")
            span Работы студентов