@color-white: #fff;
@color-black: #000;
@color-main-background: @color-white;
@color-purple: #9400B7;
@color-yellow: #F8BB0A;
@color-red: #FF3D4B;
@color-orange: #FF8017;
@color-magenta: #DB2883;

@mobile: 375px;
@tablet: 768px;
@tablet-big: 992px;
@desktop: 1100px;

@font-montserrat: 'Montserrat Regular', 'Arial', sans-serif;
@font-montserrat-light: 'Montserrat Extra Light', 'Arial', sans-serif;
@font-montserrat-bold: 'Montserrat Bold', 'Arial', sans-serif;

@font-default: @font-montserrat;