@color-white: #fff;
@color-black: #000;
@color-main-background: @color-black;

@mobile: 375px;
@tablet: 768px;
@tablet-big: 992px;
@desktop: 1100px;

@font-montserrat: 'Gilroy Regular', 'Arial', sans-serif;
@font-montserrat-bold: 'RobotoRegular', sans-serif;

@font-default: @font-Roboto;

@font-weight-thin: 100;
@font-weight-regular: 400;
@font-weight-bold: 700;
