article.banner.box._visible#banner
    .banner__container.box__container#banner-container
        .banner__close-btn.close-btn#banner-close-btn
            span
            span
            span
        .banner__section.banner__message
            p У Вас применена <span class="bold">скидка 500 р</span> на <span class="bold">любой</span> курс!
            p Для получения скидки не покидайте сайт, пока не выберете курс.
        .banner__confirm._desktop-hidden#banner-confirm-btn
            |    ОК
        .banner__section._mob-tablet-hidden 
            .banner__info
                p.title Активный <br> купон на
                .banner__discount-summ 500 р
                    
