form.email-popup#email-form
    .email-popup__container#email-popup-container
        .email-popup__close-btn.close-btn#email-popup-close-btn
           .close-btn__container
               span
               span
               span
        .email-popup__title Оставьте Ваш email для регистрации в личном кабинете
        input.email-popup__input(type="email" name="email" placeholder="Email")
        button.email-popup__submit-btn(type="submit")#confirm-email-btn Отправить