footer.footer.box
  .footer__container.box__container
    .footer__section._contact-info
      a(href="tel:88005008274") 8 800 500 82 74
      a(href="") Санкт-петербург, <br> Большой пр. пс, д 43
      img(src="img/mob/paysystems-logos.png" alt="")
    .footer__section._mobile-hidden._docs
      a(href="") договор оферты
      a(href="") политика обработки персональных данных
      a(href="") результаты проведения СОУТ
      a(href="") договор оферты юр. лиц
    .footer__section._mobile-hidden
      a(href="") документы
      a(href="") мастер-классы
      a(href="") Вакансии
      a(href="") реквизиты
    .footer__section._mobile-hidden
      a(href="") о нас
      a(href="") корпоративное обучение
      a(href="") франчайзинг
      a(href="") энциклопедия
    .footer__section._mobile-hidden
      a(href="") карта сайта
      a(href="") блог
      a(href="") акции
      a(href="") контакты
  p.footer__copyright.box__container © 2010-2020 ооо санкт-петербургская школа телевидения. все права защищены.

