header.header.box#header
    .header__container.box__container
        a(href="/")#logo.logo
            svg
                use(href="#icon-logo" xlink:href="#icon-logo")
            p.logo__text
                span международная
                span.bold школа
                span.bold профессий
        a(href="").nav-link(data-link-to="action").header__apply-btn#header-sticky-btn Оставить заявку
        .mobile-menu-btn#mobile-menu-btn
            .mobile-menu-btn__container
                span
                span
                span

        ul.nav-faculties#faculties
            .nav-faculties__close-btn.close-btn#faculties-close-btn
               .close-btn__container
                    span
                    span
                    span
            li._active школа маркетинга и рекламы
            li школа психологии
            li школа актерского мастерства
            li школа рисования
            li школа психологии
            li школа актерского мастерства
            li школа рисования
            li школа психологии
            li школа актерского мастерства
            li школа рисования
            li школа психологии
            li школа актерского мастерства
            li школа рисования
            li школа фотографии
            li курсы для детей
            li школа маркетинга и рекламы
            li школа психологии
            li школа актерского мастерства
            li школа рисования
            li школа фотографии
            li курсы для детей

        nav.nav#nav
            .nav__links
                a().nav__link._faculties#faculties-link
                    span Факультеты
                a.nav__link(href="#feedbacks" data-link-to="feedbacks") О нас 
                a.nav__link(href="#skillproof" data-link-to="skillproof") Акции
                a.nav__link(href="#teachers" data-link-to="teachers") Контакты

                a(href="tel:88005008274").nav__phone 8 800 500-82-74

                a(href="#action" data-link-to="action").nav-link.nav__apply-btn.btn-apply Записаться


