header.header.box
    .header__container.box__container
        .logo
            svg
                use(href="#icon-logo" xlink:href="#icon-logo")
            p.logo__text
                span международная
                span школа
                span профессий
        .mobile-menu-btn#mobile-menu-btn
            span
            span
            span

