header.header.box#header
    .header__container.box__container
        .logo
            svg
                use(href="#icon-logo" xlink:href="#icon-logo")
            p.logo__text
                span международная
                span.bold школа
                span.bold профессий
        .mobile-menu-btn#mobile-menu-btn
            span
            span
            span

        nav.nav
            .nav__links
                a(href="#program" data-link-to="program").nav-link Программа
                a(href="#feedbacks" data-link-to="feedbacks").nav-link Для кого
                a(href="#skillproof" data-link-to="skillproof").nav-link Результаты
                a(href="#teachers" data-link-to="teachers").nav-link Преподаватели
                a(href="#approach" data-link-to="approach").nav-link Подход
            .nav__phone 8 800 500-82-74

            a(href="#action" data-link-to="action").nav-link.nav__apply-btn.btn-apply Записаться


