header.header
  .header__container.box_container
    .header__logo.--desktop-hidden
    .header__contacts.--mobile-hidden
      .adress г. Москва МКАД 88 вл.2. стр.1 съезд 87 км
      .worktime Без выходных и перерывов с 9.00 до 21.00
    .header__service-center-name.--mobile-hidden сервис ленд ровер в москве
    .header__start-contact
      a(href="tel:+74992833770").header__phone
      .header__phone-back-btn.--mobile-hidden Заказать звонок
    .header__search-btn#header-search-btn



  