header.header.box#header
    .header__container.box__container
        .logo
            svg
                use(href="#icon-logo" xlink:href="#icon-logo")
            p.logo__text
                span международная
                span.bold школа
                span.bold профессий
        .mobile-menu-btn#mobile-menu-btn
            span
            span
            span

        nav.nav
            .nav__links
                .nav__link Программа
                .nav__link Для кого
                .nav__link Результаты
                .nav__link Преподаватели
                .nav__link Подход
            .nav__phone 8 800 500-82-74

            .nav__apply-btn.btn-apply Записаться


