svg(style="display:none")
  symbol(id="icon-arrow-more" width='56' height='56' fill='none' xmlns='http://www.w3.org/2000/svg')
    circle(opacity='.3' cx='28' cy='28' r='27.5' stroke='currentColor')
    path(d='M17.017 29.963h18.064l-7.892 7.874c-.63.63-.63 1.662 0 2.291.631.63 1.65.63 2.28 0l10.658-10.633c.63-.629.63-1.645 0-2.274L29.486 16.57c-.63-.628-1.65-.628-2.28 0-.631.63-.631 1.647 0 2.276l7.875 7.89H17.017A1.62 1.62 0 0015.4 28.35a1.62 1.62 0 001.617 1.613z' fill='currentColor')
  symbol(id="icon-verified" width='22' height='21' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M22 10.46l-2.44-2.78L19.9 4l-3.61-.82L14.4 0 11 1.46 7.6 0 5.71 3.18l-3.61.81.34 3.68L0 10.46l2.44 2.78-.34 3.69 3.61.82 1.89 3.18 3.4-1.47 3.4 1.46 1.89-3.18 3.61-.82-.34-3.68L22 10.46zm-13 5l-4-4 1.41-1.41L9 12.63l6.59-6.59L17 7.46l-8 8z' fill='currentColor')
