nav.nav#nav
  .mob-close-btn#mob-close-btn
    span
    span
  a.nav__link.nav-link(href="#offers" data-href="offers") чем могу
  a.nav__link.nav-link(href="#start" data-href="start") оставить заявку
  a.nav__link.nav-link.--more#link-more подробнее
  .nav__additional-links
    a.nav-link.nav__link.nav__link--projects(href="#projects" data-href="projects") проекты
    a.nav-link.nav__link(href="#about" data-href="about") обо мне
    a.nav-link.nav__link(href="#clients" data-href="clients") клиенты
    a.nav-link.nav__link(href="#earn" data-href="earn") $$$