article.special-offer.box._visible#special-offer
    .special-offer__container.box__container#special-offer-container
        .special-offer__close-btn.close-btn#special-offer-close-btn
            span
            span
            span
        .special-offer__section.special-offer__message
            p.special-offer__text У Вас применена <span class="bold">скидка 500 р</span> на <span class="bold">любой</span> курс!
            p.special-offer__text Для получения скидки не покидайте сайт, пока не выберете курс.
        .special-offer__confirm._desktop-hidden#special-offer-confirm-btn
            |    ОК
        .special-offer__section._mob-tablet-hidden 
            .special-offer__discount-summ-box
                p.special-offer__text Активный <br> купон на
                .special-offer__discount-summ 500 р
                    
