.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #333333;

    &__container {
      padding-left: 30px;
      padding-right: 30px;


      .min-desktop({
        .flex(space-between, flex-start);
        padding: 0;
      })
    }

    a {
      .font(10px, 12px);
      font-family: @font-montserrat;
      color: @color-white;
      display: block;
      margin-bottom: 20px;
      text-transform: uppercase;

      .min-desktop({
        text-align: left;
      });

      &:hover {
        opacity: 0.7;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__section {
      text-align: center;
      padding: 0 15px;

      &._docs {
        .min-desktop({
          margin-right: auto;
          max-width: 255px;
        })
      }

      &._master-class {
        .min-desktop({
          margin-right: 94px;
        });
      }

      &._about {
        .min-desktop({
          margin-right: 94px;
        });
      }
    
      &._contact-info {
        padding-left: 0;
        .font(10px, 12px);

        .min-desktop({
          margin-right: 79px;
        });

        a {
          margin-bottom: 30px;
          font-family: @font-montserrat-semi-bold;
        }

        img {
          width: 100%;
          max-width: 173px;
          margin: 45px auto 0;
          display: block;

          .min-desktop({
            margin-left: 0;
          })
        }
      }

      .min-tablet({
        margin-bottom: 40px;
      })
    }

    &__copyright {
      margin-top: 30px;
      text-transform: uppercase;
      text-align: center;
      color: @color-white;
      .font(8px, 10px);
      letter-spacing: 0.2px;

      .min-desktop({
        font-size: 12px;
        text-align: left;
      })
    }
}
