._desktop-hidden {
  .min-desktop({
    display: none;
  });
}

._mobile-hidden-d-flex {
  display: none;

  .min-desktop({
    display: flex;
  });
}

._mobile-hidden {
  display: none;
  
  .min-tablet({
    display: block;
  })
}
