.btn-apply {
  .font(20px);
  font-family: @font-montserrat-bold;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: @color-black;
  text-align: center;

  padding: 12px 32px;
  border-radius: 8px;
}

.title-common {
  .font(28px, 32px);
  font-family: @font-montserrat-bold;
  font-weight: bold;
  color: @color-black;
}
